@tailwind base;
@tailwind components;
@tailwind utilities;

.h-full-container {
  height: calc(100vh - 116px);
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  /*margin: 10px;*/
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.btn-grad:enabled:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.dark .btn-grad {
  background-image: linear-gradient(
    to right,
    #1F2937 0%, /* Dark mode start color */
    #374151 51%, /* Dark mode middle color */
    #1F2937 100% /* Dark mode end color */
  );
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Darker shadow for dark mode */
}